{% block subject %}Vérification de l'utilisateur{% endblock %}

{% block body_text %}
Bonjour,

Votre compte sur Boutique ISF a été vérifié avec succès.

Cordialement,
L'équipe de Boutique ISF
{% endblock %}

{% block body_html %}
<p>Bonjour,</p>

<p>Votre compte sur Boutique ISF a été vérifié avec succès.</p>

<p>Cordialement,<br>
L'équipe de Boutique ISF</p>
{% endblock %}