<form method="post" action="{{ path('app_basket_admin_delete', {'id': basket.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ basket.id) }}">
    <button class="btn text-blue">Supprimer</button>
</form>
