@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --white : #FFFFFF;
    --dark-blue : #111827;
    --blue : #3D4797;
    --grey : #64748B;
    --black : #020617;
}

.selected {
    background-color: var(--blue);
    color: white;
}

.selected-choice {
    background-color: #1E293B;
}

input#user_roles_1 {
    border-radius : 0.25rem;
    margin-left: 2rem
}

input#user_roles_0 {
    border-radius : 0.25rem
}

div#user_roles {
    margin-top: 0.5rem
}

.slideover-bg-noir {
    background-color: var(--black);
}

