@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --white : #FFFFFF;
    --dark-blue : #111827;
    --blue : #3D4797;
    --grey : #64748B;
    --black : #020617;
}

